.section {
  @apply relative h-screen w-screen bg-[#DBD9D9];
}
.section {
  background: url('../images/404/FrameS.jpg') no-repeat fixed center/cover;
}
@media screen and (min-width: 768px) {
  .section {
    background: url('../images/404/FrameM.jpg') no-repeat fixed center/cover;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    background: url('../images/404/FrameX.png') no-repeat fixed center/cover;
  }
}
:global(.dark) .section {
  background: url('../images/404/Frame-darkS.png') no-repeat fixed center/cover;
  color: white;
}
@media screen and (min-width: 768px) {
  :global(.dark) .section {
    background: url('../images/404/Frame-darkM.png') no-repeat fixed
      center/cover;
  }
}
@media screen and (min-width: 1280px) {
  :global(.dark) .section {
    background: url('../images/404/Frame-darkXL.png') no-repeat fixed
      center/cover;
  }
}

.wrapper {
  @apply absolute translate-y-[-50%] px-3 text-center font-inter xl:top-1/2 xl:left-[10%] notXl:top-1/3 notXl:left-1/2  notXl:w-full notXl:translate-x-[-50%];
}

.button {
  @apply mx-auto flex h-12 w-[257px] items-center justify-center rounded-[12px] bg-blue-600  text-white;
}
.iconArrow {
  @apply h-8 w-8;
}
.title {
  @apply mb-10 smOnly:text-2xl md:text-3xl;
}
.text {
  @apply mb-24 smOnly:text-base md:text-lg;
}
