@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.activeLink {
  color: white;
}

/* --------------------------------- */
.mobileMemuClosed {
  @apply fixed left-0 overflow-hidden  bg-blue-950 text-stone-400  smOnly:top-0 smOnly:z-50 smOnly:h-screen smOnly:w-screen smOnly:translate-x-full smOnly:transition-transform md:hidden;
}
.mobileMemuOpened {
  @apply fixed left-0 overflow-hidden bg-blue-950 text-stone-400  smOnly:top-0 smOnly:z-50 smOnly:h-screen smOnly:w-screen smOnly:translate-x-0 smOnly:transition-transform md:hidden;
}

/* sidebar styles */

.navigationItem {
  @apply mb-5 ml-9 flex;
}

.navigationItem > div {
  @apply mr-5;
}
.navigationItemIcon {
  @apply mt-1 h-4 w-4 bg-white;
}
.activeMenu {
  @apply text-slate-50;
}
