.section {
  background-position: fixed;
  background: url('../images/pages/main/businessman-pointing-1x.jpg') no-repeat
    center/cover;

  @supports (background: url('../images/pages/main/businessman-pointing-1x.webp')) {
    background: url('../images/pages/main/businessman-pointing-1x.webp') no-repeat
      center/cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url('../images/pages/main/businessman-pointing-2x.jpg') no-repeat
      center/cover;

    @supports (background: url('../images/pages/main/businessman-pointing-2x.webp')) {
      background: url('../images/pages/main/businessman-pointing-2x.webp') no-repeat
        center/cover;
    }
  }

  @media (min-width: 768px) {
    background: url('../images/pages/main/businessman-pointing-2x.jpg') no-repeat
      center/cover;

    @supports (background: url('../images/pages/main/businessman-pointing-2x.webp')) {
      background: url('../images/pages/main/businessman-pointing-2x.webp') no-repeat
        center/cover;
    }
  }
}
:global(.dark) .section {
  background: url('../images/pages/main/businessman-pointing-dark-1x.jpg') no-repeat
    center/cover;

  @supports (background: url('../images/pages/main/businessman-pointing-dark-1x.webp')) {
    background: url('../images/pages/main/businessman-pointing-dark-1x.webp') no-repeat
      center/cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url('../images/pages/main/businessman-pointing-dark-2x.jpg') no-repeat
      center/cover;

    @supports (background: url('../images/pages/main/businessman-pointing-dark-2x.webp')) {
      background: url('../images/pages/main/businessman-pointing-dark-2x.webp') no-repeat
        center/cover;
    }
  }

  @media (min-width: 768px) {
    background: url('../images/pages/main/businessman-pointing-dark-2x.jpg') no-repeat
      center/cover;

    @supports (background: url('../images/pages/main/businessman-pointing-dark-2x.webp')) {
      background: url('../images/pages/main/businessman-pointing-dark-2x.webp') no-repeat
        center/cover;
    }
  }
}
.sectionComponents {
  background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-1x.jpg') no-repeat center/cover;

  @supports (background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-1x.webp')) {
    background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-1x.webp') no-repeat center/cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-2x.jpg') no-repeat center/cover;

    @supports (background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-2x.webp')) {
      background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-2x.webp') no-repeat center/cover;
    }
  }

  @media (min-width: 768px) {
    background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-2x.jpg') no-repeat center/cover;

    @supports (background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-2x.webp')) {
      background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-2x.webp') no-repeat center/cover;
    }
  }
}
:global(.dark) .sectionComponents {
  background: linear-gradient(89.96deg, #1C2237 41.93%, rgba(28, 34, 55, 0) 99.39%),
    url('../images/pages/components/layout-dark-1x.jpg') no-repeat center/cover;

  @supports (
    background: linear-gradient(89.96deg, #1C2237 41.93%, rgba(28, 34, 55, 0) 99.39%),
    url('../images/pages/components/layout-dark-1x.webp')
  ) {
    background: linear-gradient(89.96deg, #1C2237 41.93%, rgba(28, 34, 55, 0) 99.39%),
      url('../images/pages/components/layout-dark-1x.webp') no-repeat center/cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: linear-gradient(89.96deg, #1C2237 41.93%, rgba(28, 34, 55, 0) 99.39%),
      url('../images/pages/components/layout-dark-2x.jpg') no-repeat center/cover;

    @supports (
      background: linear-gradient(89.96deg, #1C2237 41.93%, rgba(28, 34, 55, 0) 99.39%),
      url('../images/pages/components/layout-dark-2x.webp')
    ) {
      background: linear-gradient(89.96deg, #1C2237 41.93%, rgba(28, 34, 55, 0) 99.39%),
        url('../images/pages/components/layout-dark-2x.webp') no-repeat center/cover;
    }
  }

  @media (min-width: 768px) {
    background: linear-gradient(89.96deg, #1C2237 41.93%, rgba(28, 34, 55, 0) 99.39%),
      url('../images/pages/components/layout-dark-2x.jpg') no-repeat center/cover;

    @supports (
      background: linear-gradient(89.96deg, #1C2237 41.93%, rgba(28, 34, 55, 0) 99.39%),
      url('../images/pages/components/layout-dark-2x.webp')
    ) {
      background: linear-gradient(89.96deg, #1C2237 41.93%, rgba(28, 34, 55, 0) 99.39%),
        url('../images/pages/components/layout-dark-2x.webp') no-repeat center/cover;
    }
  }
}
.wrapper {
  @apply mr-auto min-h-[100vh] max-w-[480px] px-3 pt-[28px] pb-[100px] md:max-w-[720px] md:px-14 md:pt-[43px] xl:max-w-[932px] xl:px-[162px];
}
.contentWrapper {
  @apply space-y-4 text-left;
}
.title {
  @apply font-inter text-[28px] font-semibold leading-[34px] text-stone-900 md:text-[32px] md:leading-[39px];
}
:global(.dark) .title {
  @apply text-[#9EA2C6];
}
.content {
  @apply prose mx-auto font-inter md:prose-lg;
}
:global(.dark) .content {
  @apply prose-invert;
}

.mobileHeader {
  @apply mb-[30px] flex items-center justify-between;
}

.biMenu {
  @apply h-6 w-6 fill-[#252A41] active:text-white;
}

:global(.dark) .biMenu {
  @apply fill-white;
}
