.section {
  background: url('../images/pages/main/businessman-pointing-1x.jpg') no-repeat fixed
    center/cover;
}

@supports (background: url('../images/pages/main/businessman-pointing-1x.webp')) {
    .section {
        background: url('../images/pages/main/businessman-pointing-1x.webp') no-repeat fixed center/cover;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx), 
(min-width: 768px) {
    .section {
        background: url('../images/pages/main/businessman-pointing-2x.jpg') no-repeat fixed center/cover;
    }
    @supports (background: url('../images/pages/main/businessman-pointing-2x.webp')) {
        .section {background: url('../images/pages/main/businessman-pointing-2x.webp') no-repeat fixed center/cover;}
    }
}

:global(.dark) .section {
  background: url('../images/pages/main/businessman-pointing-dark-1x.jpg') no-repeat fixed
    center/cover;
}

 @supports (background: url('../images/pages/main/businessman-pointing-dark-1x.webp')) {
    :global(.dark) .section {
        background: url('../images/pages/main/businessman-pointing-dark-1x.webp') no-repeat fixed center/cover;
    }
 }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx), 
(min-width: 768px) {
    :global(.dark) .section {
        background: url('../images/pages/main/businessman-pointing-dark-2x.jpg') no-repeat fixed center/cover;
    }
    @supports (background: url('../images/pages/main/businessman-pointing-dark-2x.webp')) {
        :global(.dark) .section {
            background: url('../images/pages/main/businessman-pointing-dark-2x.webp') no-repeat fixed center/cover;
        }
    }
}

.sectionComponents {
  background: url('../images/pages/components/v1/layout-1x.jpg') no-repeat fixed center/cover;
}

@supports (background: url('../images/pages/components/v1/layout-1x.webp')) {
    .sectionComponents {
        background: url('../images/pages/components/v1/layout-1x.webp') no-repeat fixed center/cover;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx),
(min-width: 768px) and (max-width: 1280px) {
    .sectionComponents {
        background: url('../images/pages/components/v1/layout-2x.jpg') no-repeat fixed center/cover;
    }
    @supports (background: url('../images/pages/components/v1/layout-2x.webp')) {
        .sectionComponents {
            background: url('../images/pages/components/v1/layout-2x.webp') no-repeat fixed center/cover;
        }
    }
}

@media (min-width: 1280px) {
    .sectionComponents {
        background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-2x.jpg') no-repeat fixed center/cover;
    }
    @supports (background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-2x.webp')) {
        .sectionComponents {
            background: linear-gradient(89.42deg, #F8FAFC 35.63%, rgba(248, 250, 252, 0) 91.9%), url('../images/pages/components/layout-2x.webp') no-repeat fixed center/cover;
        }
    }
}

:global(.dark) .sectionComponents {
    background: linear-gradient(180deg, rgba(144, 222, 254, 0.15) 0%, rgba(120, 245, 250, 0.15) 59.37%, rgba(120, 245, 250, 0.0405) 95.83%),
    url('../images/pages/components/v1/layout-dark-1x.jpg') no-repeat fixed center/cover;
}

@supports (background: linear-gradient(180deg, rgba(144, 222, 254, 0.15) 0%, rgba(120, 245, 250, 0.15) 59.37%, rgba(120, 245, 250, 0.0405) 95.83%), url('../images/pages/components/v1/layout-dark-1x.webp')) {
    :global(.dark) .sectionComponents {
        background: linear-gradient(180deg, rgba(144, 222, 254, 0.15) 0%, rgba(120, 245, 250, 0.15) 59.37%, rgba(120, 245, 250, 0.0405) 95.83%), url('../images/pages/components/v1/layout-dark-1x.webp') no-repeat fixed center/cover;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx), 
(min-width: 768px) and (max-width: 1280px) {
    :global(.dark) .sectionComponents {
        background: linear-gradient(180deg, rgba(144, 222, 254, 0.15) 0%, rgba(120, 245, 250, 0.15) 59.37%, rgba(120, 245, 250, 0.0405) 95.83%), url('../images/pages/components/v1/layout-dark-2x.jpg') no-repeat fixed center/cover;
    }
    
    @supports (background: linear-gradient(180deg, rgba(144, 222, 254, 0.15) 0%, rgba(120, 245, 250, 0.15) 59.37%, rgba(120, 245, 250, 0.0405) 95.83%), url('../images/pages/components/v1/layout-dark-2x.webp')) {
            :global(.dark) .sectionComponents {
                background: linear-gradient(180deg, rgba(144, 222, 254, 0.15) 0%, rgba(120, 245, 250, 0.15) 59.37%, rgba(120, 245, 250, 0.0405) 95.83%), url('../images/pages/components/v1/layout-dark-2x.webp') no-repeat fixed center/cover;
            }
        
    }
}

@media (min-width: 1280px) {
    :global(.dark) .sectionComponents {
        background: linear-gradient(180deg, rgba(144, 222, 254, 0.2) 0%, rgba(120, 245, 250, 0.2) 59.37%, rgba(120, 245, 250, 0.054) 95.83%), url('../images/pages/components/layout-dark-2x.jpg') no-repeat fixed center/cover;
    }
    
    @supports (background: linear-gradient(180deg, rgba(144, 222, 254, 0.2) 0%, rgba(120, 245, 250, 0.2) 59.37%, rgba(120, 245, 250, 0.054) 95.83%), url('../images/pages/components/layout-dark-2x.webp')) {
        :global(.dark) .sectionComponents {
            background: linear-gradient(180deg, rgba(144, 222, 254, 0.2) 0%, rgba(120, 245, 250, 0.2) 59.37%, rgba(120, 245, 250, 0.054) 95.83%), url('../images/pages/components/layout-dark-2x.webp') no-repeat fixed center/cover;
        }
    }
}

.wrapper {
  @apply mr-auto min-h-[100vh] max-w-[480px] px-3 pt-[28px] pb-[100px] md:max-w-[720px] md:px-14 md:pt-[43px] xl:max-w-[932px] xl:px-[162px];
}
.contentWrapper {
  @apply space-y-4 text-left;
}
.title {
  @apply font-inter text-[28px] font-semibold leading-[34px] text-stone-900 md:text-[32px] md:leading-[39px];
}
:global(.dark) .title {
  @apply text-[#9EA2C6];
}
.content {
  @apply prose mx-auto font-inter md:prose-lg;
}
:global(.dark) .content {
  @apply prose-invert;
}

.mobileHeader {
  @apply mb-[30px] flex items-center justify-between;
}

.biMenu {
  @apply h-6 w-6 fill-[#252A41] active:text-white;
}

:global(.dark) .biMenu {
  @apply fill-white;
}
