html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #5e6273;
  overflow-y: overlay;
}

.navigationScroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #5e6273;
}

.navigationScroll::-webkit-scrollbar {
  width: 8px;
  background-color: #5e6273;
  border-radius: 8px;
}

.navigationScroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #424865;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #5e6273;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #5e6273;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #424865;
}
